[2015-04-09 00:31] alecthomas opened #1 "Partial matches keep captured variables on the stack"
Hello,

First, Pigeon is awesome. The most well documented and maintained PEG generator for Go that I've found. Thanks!

The following example produces `foo.foo`, where (IIUC) it should produce `(nil).foo`:

[code]

I'm assuming this occurs because the optional sub-expression partially matches, populates the stack, but does not clean up when the rest of the match fails.

Thanks,
Alec

[2015-04-09 00:48] PuerkitoBio commented on #1
Hey Alec,

Thanks for this, pigeon is still very very young and alpha-level (barely a few weeks old!) and I'm glad to have some other pair of eyes on this to raise issues. In this case, the `database` label should not even be allowed in the code block (it would be if it was written like this:

[code]

So I'll add a test case and a fix for that.

[2015-04-09 00:50] alecthomas commented on #1
Aha! Thank you, that fixed it!

[2015-04-09 00:55] alecthomas commented on #1
Though, if labels aren't allowed in subexpressions, that would seem to make extracting values more onerous. eg.

[code]

would have to become:

[code]

Is that correct?

[2015-04-09 01:01] alecthomas commented on #1
Actually it's even more convoluted. You'd need to also split out database so you don't capture the period:

[code]

[2015-04-09 01:10] #1 closed

[2015-04-09 01:13] PuerkitoBio commented on #1
`TableRef <- database:(Id '.')? table:Id (AS alias:Id)?`

could become

`TableRef <- database:(Id '.')? table:Id alias:(AS Id)?`

then it's just a matter of testing the value and extracting the right index (a sequence expression is a `[]interface{}`, so to get the Id in AS Id, you convert to []interface{} and get index 1.

Tweaking the grammar in separate rules that return AST nodes obviously make

[2015-04-09 01:16] PuerkitoBio commented on #1
Just to be clear, labels **are** allowed in subexpressions, but they are available to code blocks in those subexpressions only. It's very similar to lexical scoping in programming languages, if that helps. Open a new scope and declare a var, that var is visible within that scope, but not in its parent scope.

[2015-04-09 02:34] alecthomas commented on #1
Yep, understood. I see that this is the same way PEG.js works.

Using indexes would work, but would be fragile to changes in the grammar though wouldn't it? Though I see that some PEG.js examples use [this same approach](https://github.com/pegjs/pegjs/blob/master/examples/javascript.pegjs#L554).

I guess that's the way it is! Thanks!

[2015-04-09 15:00] alecthomas opened #2 "No stack trace for panics in handlers"
I have a bug somewhere in my code resulting in a nil pointer dereference, but unfortunately I have no idea where it is because pigeon converts panics into errors:

[code]

Some way of not capturing panics would be nice I think.

[2015-04-09 16:38] PuerkitoBio commented on #2
Agreed, I added the `-no-recover` flag to the pigeon tool, and the `Recover(bool)` option func to the generated parser, so it can be turned off when called like this:

[code]

[2015-04-09 16:38] #2 closed

[2015-04-10 00:19] alecthomas commented on #2
Brilliant, thanks!

[2015-05-16 19:07] jackc opened #3 "Bad peg or bad input causes out of memory error"
I spent the morning experimenting with pigeon. Very cool. My toy was a skeleton XML parser / pretty printer. I hacked on it enough to get a feel for pigeon.

One problem I ran into was if I fed an incomplete XML document into it (such as "<foo>bar"), it would crash with:

[code]

This was my peg file:

[code]

I don't know if this is a bug in my peg file or a bug in pigeon, but it really doesn't l

[2015-05-16 19:53] PuerkitoBio commented on #3
Interesting, could you give it a try with the `wip-vm` branch of pigeon? It shouldn't require any change in your code, but the pigeon implementation uses a VM instead of recursive func calls (which I suspect is the cause of the OOM in your case).

That branch is not 100% ready to be merged in master, but I'd really appreciate that kind of feedback with an actual real case.

Thanks,
Martin

[2015-05-16 21:39] jackc commented on #3
Different stack trace, but it still crashes with OOM.

[code]

[2015-05-16 21:42] PuerkitoBio commented on #3
Cool, thank, I'll debug it with the code from your repo.
On Sat, May 16, 2015 at 17:39 Jack Christensen <notifications@github.com>
wrote:

[2015-05-22 02:59] PuerkitoBio commented on #3
Looks like the issue is with the TextNode rule, a bug in the inverted char class. Replacing [^<]+ with (!'<' .)+works. Not fixed yet but at least halfway there.

[2015-05-22 03:09] #3 closed

[2015-07-07 17:56] erjoalgo opened #4 "Not getting []interface{} for star, plus expressions"
Hi,

[code]

I get:

[code]

I was expecting rest1, rest2, rest3 to be slices. What am I doing wrong?

[2015-07-07 18:22] erjoalgo commented on #4
I see, I needed to convert to []interface{} from interface{}

[2015-07-07 18:22] #4 closed

[2015-07-07 23:05] erjoalgo opened #5 "Accessing labels defined in parent expression from subexpressions"
Hi,

I'm having trouble acccessing a label defined in the parent expression from a subexpression.
I read another issue where it is mentioned that:
"...labels are allowed in subexpressions, but they are available to code blocks in those subexpressions only. It's very similar to lexical scoping in programming languages, if that helps. Open a new scope and declare a var, that var is visible within th

[2015-07-08 14:31] PuerkitoBio commented on #5
That's because the choice operator "/" starts a new scope - only one of the choices can match, so you should have code for each choice (e.g. Before the /, you'd see the "d").

[2015-07-08 14:57] erjoalgo commented on #5
Shouldn't the code in the first two blocks have access to 'b'?
The first block, which does this:
[code]

doesn't have access to the 'b' label:

[code]

[2015-07-17 19:29] erjoalgo opened #6 "Feature request: aggregate values for labels appearing multiple times in expression"
A lot of boilerplate code is needed to extract a list of elements that appear in different parts of an expression.

If the same label appears in more than once in an expression, the underlying value of that label should be an []interface{}, where each element is the value of the labeled field in the order it appears in the text.

Additionally, if a label appears within a repeating subexpression, t

[2015-07-19 21:39] PuerkitoBio commented on #6
I can see how that seems appealing, but this wouldn't work like this - in that example, the first elms is not in the same scope as the 2nd one (parentheses open a new scope, the expression that is at the same level as the first elms is actually the whole zero-or-many repeating expression `("," elms:StringLit)*`.

There could be syntactic sugar added to the grammar, but I kept it relatively simple

[2015-07-20 02:12] erjoalgo commented on #6
Yeah, I understand, but I think it can be made to work. Each sub-expression would be associated with a map of labels to values, and these labels are recursively aggregated in higher expressions. In the "base case" of the above examplethe Seq expression `_ "," _ elms:StringLit` would normally produce a map where elms is bound to the 3rd element, a StringLit. But then the zero-or-many expression:

`

[2015-07-21 22:57] PuerkitoBio commented on #6
It could be made to work, but I expect those customizations to add a lot of complexity for very specific use-cases. I think it could be done outside of pigeon, somewhat similar to a macro preprocessor, and it could generate a valid pigeon grammar as output. Or just handle it on a case-by-case basis with code blocks. I don't think I'd want to add that feature in pigeon, to be honest.

[2015-07-21 22:57] #6 closed

[2015-09-10 09:38] ghost opened #7 "Significant Whitespace Parsing"
Good day, @PuerkitoBio.

Are there any plans to implement either parametrisable rules [[1](https://github.com/pegjs/pegjs/issues/45)] or a global state [[2](https://github.com/otac0n/Pegasus/wiki/Significant-Whitespace-Parsing)] [[3](https://github.com/pegjs/pegjs/issues/217)] [[4](https://github.com/pointlander/peg/issues/9)]?

[2015-09-11 16:04] PuerkitoBio commented on #7
Hello anonx,

The global state feature seems very interesting, given how useful it is to parse indentation-based languages, thanks for bringing it up. I don't plan to implement this anytime soon - it doesn't look like a quick hack and I'm quite busy with other stuff - but that would definitely make sense. No promises on a date :)

Martin

[2015-09-12 05:13] anonx commented on #7
Great anyway. I will look forward to it. Thank you for your work on this project.

[2016-06-21 17:14] tsandall opened #8 "Accessing filename during parsing"
I have a use case where I want to propagate the filename into the AST nodes generated by my parser.

Is there a way to access the filename during parsing? It seems it would be easy enough to put the filename on the `current` struct. Any suggestions?

Thanks!

[2016-06-27 11:28] breml opened #9 "Export parserError and errList"
I have a package with the parser generated by pigeon and in several separate (main) packages the tools, using the generated parser.

My problem now is, `parserError` and `errList` are not exported, which prevents me from using the suggested (https://godoc.org/github.com/PuerkitoBio/pigeon#hdr-Error_reporting) error handling code in my main packages.

In https://godoc.org/github.com/PuerkitoBio/pig

[2016-06-27 14:27] PuerkitoBio commented on #9
Hello Lucas,

The `parserError` and `errList` types are generated in the same package as the parser, so they don't have to be exported to be used within the PEG code blocks. Can you give a short example of the problem you run into?

Thanks,
Martin

[2016-06-27 14:33] PuerkitoBio commented on #8
Hello Torin,

You should be able to do this without changing pigeon, for example if your top-level AST node returned from the call to `Parse*` has a `Filename` field, you can set it after the call.

Martin

[2016-06-27 16:01] tsandall commented on #8
This can definitely be done with a post-processing step. However, in this case, it's not only the top-level AST node that has file/location information on it. All of the AST nodes have this. It seems it would be cleaner to set this information during parsing as opposed to walking the AST afterwards to do the same.

Giving `current` a member to store context seems it would aid this use case and pot

[2016-06-27 16:28] PuerkitoBio commented on #8
I'm not sure I understand why you'd want to store the filename on each node in the tree? Given a top-level node returned from the parser, all children's positions are necessarily from the same input file, so there's no need to walk the tree after parsing?

[2016-06-27 16:44] tsandall commented on #8
The AST nodes include location info for debugging purposes (e.g., line, column, etc.). Given an arbitrary AST node, it's not always possible to get the top-level node, so instead, the filename is stored with the location info.

[2016-06-27 17:13] PuerkitoBio commented on #8
You always need more information than an arbitrary node when walking an AST - e.g. if you're processing a variable declaration node, you need state from the rest of the tree to know if you are in a function, in a top-level package, etc. You don't duplicate all that information on each child node, you manage that state as you walk the tree. The filename is no different IMO.

That being said, I'm no

[2016-06-27 18:33] breml commented on #9
Hallo Martin

Thanks for your rapid response.

I am currently writing a some tools (currently a syntax-checker and a "context aware" diff tool) which both use the same parser which is build with pigeon. The configuration files are sometimes modified by hand, which may be error prone. Therefor I try to improve the error messages to support the user as good as possible. I use some of the recommendat

[2016-06-28 19:01] PuerkitoBio commented on #9
Thanks for the details, I understand your use-case. I'll take a closer look in the next few days.

[2016-08-29 13:16] RedSkotina opened #12 "Encoding error REPLACEMENT CHARACTER"
i have rule
Comment = (("//" (!NL .)* &NL)  /  ("/*" (!"*/" .)* "*/"))
and take error  `rule Comment: invalid encoding` on source which contain REPLACEMENT CHARACTER (utf-8 0xEF 0xBF 0xBD) (�)

I look up workaround.

[2016-08-30 01:39] PuerkitoBio commented on #12
Hello,

You have that error when you try to parse an input file that should conform to your pigeon (rules) file? Or when trying to build the parser from your rules file? That error indicates that your input is not valid utf8, and depending on the step at which it occurs, the invalid input may be your grammar or the file you're trying to parse with that grammar.

Martin

[2016-08-30 05:40] RedSkotina commented on #12
I get this error while parsing my input file which contain this ACTUAL character inserted by user editor

if  remove this character from line then all fine. I look for any method for catching this error.
REPLACEMENT CHARACTER is not valid utf-8?

[2016-08-30 11:12] PuerkitoBio commented on #12
Replacement character is the character returned when the input contains
invalid utf8.
On Tue, Aug 30, 2016 at 01:40 RedSkotina <notifications@github.com> wrote:

[2016-08-30 13:19] RedSkotina commented on #12
but my input file contain hex sequence 0xEF 0xBF 0xBD . user save this sequence in the file.
i cannot parse this sequence?

[2016-08-30 22:11] PuerkitoBio commented on #12
Indeed, if the input contained the actual replacement char, it was incorrectly detected as an encoding error. It's fixed in the branch `fix-replacement-char`, could you give it a try and let me know if all's good for you? I'll merge on master after that.

Thanks,
Martin

[2016-08-31 05:49] RedSkotina commented on #12
yes. error has gone away. thanks

[2016-08-31 11:24] #12 closed

[2016-09-02 07:39] RedSkotina opened #14 "Incorrect memoization for predicate conditional rules"
If rule contain code predicate returning everytime different result on one text position then memoize can break logic

TestCase peg : https://github.com/RedSkotina/pigeon/blob/bugfix-memoization-predicate/test/memoize_predicate/memoize_predicate.peg
Input string: "aa"
Expected output: ["cond2" "cond1"]
Actual output(with enabled memoize ): no match found

as i see solutions here:

-  not memoize r

[2016-09-02 17:07] PuerkitoBio commented on #14
To memoize or not is an option. If you have an "impure" code block for a rule, then all parent rules are also impure, and ultimately memoization is useless, so you shouldn't use that option.

[2016-09-02 18:09] RedSkotina commented on #14
but error stilll be error.

[2016-09-02 21:09] PuerkitoBio commented on #14
Ok maybe I misunderstood, can you walk me through the issue? You're getting
an error when you parse an input with memoization for that grammar? What's
the exact error you get, and what's the input to reproduce the error?
On Fri, Sep 2, 2016 at 14:09 RedSkotina <notifications@github.com> wrote:

[2016-09-03 11:09] RedSkotina commented on #14
i edited first comment  for input string and output error.
Issue: When "impure" rule is memoized then he can return invalid result when some conditions is changed.
It is normal behavior , but the user should be warned about this or we must NOT memoize "impure" rules.
Look in pull request

[2016-09-03 21:11] PuerkitoBio commented on #14
Right, ok so I think I was understanding correctly - there is no "error" *per se*, but the result may be invalid because some code blocks are not deterministic (given the same input, may not produce the same output). I think this is a terrible characteristic for a grammar (and I'm not sure it makes sense to implement it as a PEG, as it may - and will - backtrack in some cases).

But regardless of

[2016-09-03 21:39] RedSkotina commented on #14
ok. then please note this in documentation.

[2016-09-03 22:47] PuerkitoBio commented on #14
I don't think it's fair to expect the readme for a peg library to be a tutorial on peg. I do link to relevant papers in the godoc, though. I think that should be sufficient.

[2016-09-03 22:47] #14 closed

[2016-09-08 20:31] RedSkotina opened #17 "Invalid detection replacement char AnyMatcher"
replacement char incorrectly detected as an encoding error in AnyMatcher.
Peg:  Test <- "[" s:. "]"
Input: [�]
Expect: Match
Output: 2016/09/08 23:05:22 stdin:1:1 (0): no match found
Debug trace:

Probably problem with replacement chat also exist in CharClassMatcher, but need tests

[2016-09-23 06:15] tsandall opened #18 "Line numbers in errNoMatch"
Hi Martin,

The line numbers in errNoMatch errors do not make sense to me. Any help or pointers would be appreciated.

I started to reproduce this with a minimal test case but then realized that I could use an invalid .peg file and run `pigeon` over it to produce the same error...

For example...

[code]

Output:

[code]

(yes, a bunch of newlines followed by "xxx" followed by newline).

Then run

[2016-09-23 06:18] tsandall commented on #18
Here's a minimal-ish grammar that displays the same problem:

[code]

Output:

[code]

[2016-10-18 17:50] tsandall commented on #18
@PuerkitoBio any chance you could take a look at this? I assume you're busy but I would really appreciate it! ^.^

[2016-10-19 11:29] PuerkitoBio commented on #18
Hello Torin,

I'm not using this package so unfortunately it's unlikely that I'll have time to commit to this in the near future. I'm open to PRs with good tests and no API change, if anyone can help on this.

Thanks,
Martin

[2016-10-24 18:51] tsandall commented on #18
As a workaround, I have modified my grammar to include a catch-all rule that simply panics. This way the generated parser will report a more accurate location (at the expense of only returning one error).

[2017-05-15 11:34] joshsharp commented on #18
I've just come across this issue attempting to use Pigeon for my own project, and tracked down the cause.

For me, the error position is also always 2:0 (0), as the position being used and displayed is that of the start of my first rule, which encompasses the entire input (the same as the Program rule in the above example). The fix is to change the `addError` call inside the `parse` method to `add

[2017-05-15 18:45] mna commented on #18
Hello Josh,

Thanks for looking into this. Unfortunately, as I mentioned elsewhere in the comments, I don't have much time for this package as I don't use it myself, and it takes considerable time switching back into this codebase given the "inception-like" nature of the project (the bootstrap parser, the parser generator, etc).

I'd definitely accept a PR with good tests that demonstrate the issu

[2017-05-16 00:28] joshsharp commented on #18
Yeah, I thought that might be the case, but I was hoping you'd save me the trouble of trying to get my own head around it :) I'll see what I can do then, if I'm lucky it'll be a minor change that doesn't break anything else. Thanks

[2017-05-19 20:04] breml commented on #18
@joshsharp, @tsandall The problem you are facing is, that PEG by design tracks back to the first rule to try other possible paths, if you do not take measures within your grammar. There are two strategies, I am using to increase the meaning of the error reporting:

1. As suggested in https://godoc.org/github.com/mna/pigeon#hdr-Error_reporting, if your grammar is at a position, where backtracking i

[2017-05-20 06:04] joshsharp commented on #18
@breml thanks for this explanation! That's really handy. Having previously only built lexers and parsers on EBNF grammars, I'm still yet to get used to the idea that I should be adding rules to my grammar that specifically match *incorrect* syntax, and would ideally prefer that the parser generate lovely, useful syntax errors for me :) But your explanation helps me see the value of doing it this w

[2017-05-21 20:09] breml commented on #18
@joshsharp I am absolutely with you regarding

but as mentioned in by @mna in [reddit thread](https://www.reddit.com/r/golang/comments/32filp/a_peg_parser_generator_for_go/), it is not a trivial task to return something more useful automatically.
I think, there is some room for improvement, especially if I compare to the error messages provided by [pegjs](https://pegjs.org).
Any help to improve th

[2017-05-22 05:44] joshsharp commented on #18
I had a play with pegjs' online version, and the errors seem pretty nice for something out of the box, for example it will provide examples of matching rules:

[code]
[code]

I'll have a look at the implementation and see how feasible it is to borrow its ideas.

[2017-05-25 19:29] breml commented on #8
@tsandall I don't know, if this issue is still relevant for you. But if this is the case, I would appreciate, if you could have a look at #23, if this would solve your problem of accessing the filename during parsing. In your case, you could use the function `GlobalState` as `Option` for the parser to place the filename in the global store (see https://github.com/mna/pigeon/pull/23/files#diff-3936

[2017-05-25 19:41] breml commented on #18
@joshsharp I had a look at the source of pegjs my self and I found the function [peg$fail](https://github.com/pegjs/pegjs/blob/master/lib/parser.js#L602-L611), which does pretty much the same as the function I am using in my grammars. Therefore I think it makes sense to give a similar implementation in pigeon a try. The call to this "record error position" function has to be called when ever the p

[2017-05-28 07:47] joshsharp commented on #18
Oh, I somehow missed you are the new maintainer, @breml! Congrats :)

I also found `peg$fail` in peg.js but I don't understand pigeon well enough to work out how I'd integrate it and get it to include the required error handling into the generated parser. I might have some time in future to try and understand it and have a go, but I still consider myself very much a Go newbie at this stage, so any

[2017-05-28 22:06] breml commented on #18
@joshsharp I only quite recently became the new maintainer (less than a week ago). So let's see, where we can drive pigeon.

I just filed two new PR (#24 and #25), which implement the improved error handling (currently as an optional feature).

As mentioned in the PR, I would appreciate your help with testing and support for the documentation.

I will try the new functionality in my own parsers in

[2017-05-29 07:35] joshsharp commented on #18
Wow, you move fast! This is amazing.

I will try to find time to test this out with my parser in the next few days. I've looked at the diff for doc.go and your additions are perfectly fine also. Thanks!

[2017-05-30 05:31] breml commented on #18
@tsandall Added your minimal-ish grammar from https://github.com/mna/pigeon/issues/18#issuecomment-249111959 to https://github.com/mna/pigeon/pull/25/commits/5e64857a848b4789928c6400609ae24b20f4714e. With the new parser flag `FailureTracking(true)` the error output now becomes:

[code]

This looks much better.

[2017-05-30 05:36] tmc commented on #18
This is great to see!

[2017-05-30 05:38] tmc commented on #18
I have a non-trivial use of pigeon in my https://github.com/tmc/graphql package that could benefit from this work in a meaningful way.

[2017-05-30 05:56] breml commented on #18
@tmc Thanks for your feedback. I have two questions to you:

* Do you think you would find the time to give this PR a try and use it with your project. It would be great to get some feedback about this feature in real world use cases before I merge this one.
* Do you think the new error reporting should be the default case or provided as an option (the way it is currently implemented)?

[2017-05-30 06:00] tmc commented on #18
I'm happy to try it out. I can't think of why anyone wouldn't want more detailed errors.

[2017-05-30 06:22] joshsharp commented on #18
FWIW I definitely think this should be the default.

I would personally like to see "caret style errors" with the offending line included, something like:

[code]

But I'm not picky! This should be possible to add later (maybe something I can do).

[2017-05-30 06:41] breml commented on #18
@joshsharp I was also thinking about "caret style errors" and it is something I would like to have as well. But I am not sure yet how to do this, because every author has its own preference how he would like to present or log errors. Therefore I think, it would be the best to return errors, which include all the details (line, column, offset, expected characters, maybe context) and then let the us

[2017-05-30 07:01] joshsharp commented on #18
Good point, of course we can present this in another format if we like :) I think that's a perfect base implementation then.

[2017-05-31 22:18] tsandall commented on #18
@breml I tried out #25 and found it does improve the error reporting. However, I think the grammar I tested it on will need to be refactored (substantially) to benefit from the new reporting. E.g., right now the errors look like this:

[code]

Or...

[code]

The grammar in question is here: https://github.com/open-policy-agent/opa/blob/master/ast/rego.peg (I'm open to suggestions on how to structu

[2017-06-01 12:59] breml commented on #18
@tsandall Thanks for your testing and the feedback. I am glad, that you observe an improvement. Your observation, that in some cases, the new (automatically) generated error message is not very helpful due to the large list of possible expected values, does not come as a surprise to me. This is also mentioned in the paper, where I took the idea from for the "Track Farthest Failure" implementation.

[2017-06-01 15:41] tsandall commented on #18
I don't know what your requirements are around backwards compatibility so it's tough to say. Previously the errors were not structured (e.g., just returns as `errors.New(...)`) I believe. Given this, I don't think many would rely on them programmatically.

In my case, it won't matter (as I was using a catch-all rule that panics to workaround the line number issue.)

If you're worried about backwar

[2017-06-02 05:02] breml commented on #18
@tsandall Thanks for your feedback. In the discussion above with @joshsharp I already mentioned, that I also want to improve the returned errors, such that they include position and expected literals/characters, which would then allow the user to print nicer error messages (e.g. caret style errors or group multiple expected literals/character classes to more meaningful error messages).
The reason,

[2017-06-02 05:22] tmc commented on #18
For what it's worth I've incorporated this patch into a test branch of https://github.com/tmc/graphql and the errors are much more specific (but a little verbose as some have pointed out). Here is my grammar: https://github.com/tmc/graphql/blob/master/graphql.peg I made minor modifications in that I removed a few of these sort of catch-alls: https://github.com/tmc/graphql/blob/master/graphql.peg#L

[2017-06-02 11:54] joshsharp commented on #18
I've finally had a chance to try this and I have a similar error with the grammar I'm working on.

[code]

It could just be that I don't understand how the error tracking works. In this case I would expect that it fails inside my assignment rule:

[code]
where Assignable is much smaller subset of the above possible characters:

[code]

Instead my guess is that it's backtracking and matching a much

[2017-06-02 22:00] breml commented on #18
@joshsharp from a first sight I also would expect the output to be `no match found, expected: [a-z], '_'`.

I did a quick test with `issue_18a.peg`:
[code]

and `issue_18a_test.go`:
[code]

Generated the parser with the new `pigeon` and ran the tests with `go test -v .`, which produces the following output for me:
[code]

So I assume, that zour problem must some how be related to the grammar.

[2017-06-03 07:20] joshsharp commented on #18
Sure, but imagine I had a slightly larger grammar:

[code]

If I test the same line `let 😐 =` with that grammar, I get:

[code]

What I think this demonstrates is that, not having matched Let, it moves on to matching the next rule, because the string `let` can also qualify as a variable name. If that's intended behaviour, that's fine, it's just me misunderstanding how tracking the farthest error w

[2017-06-03 15:44] tsandall commented on #8
@breml It definitely looks like this would work for this use case. That being said, I ended up adding a post-processing step so this issue can be closed.

[2017-06-03 15:44] #8 closed

[2017-06-03 21:04] breml commented on #18
@joshsharp For me the important question was, if there is a bug in the "farthest parse pos" heuristic. As I understand your grammar and your example, this is not the case.

With specific error rules, the situation could surely be improved.

I asked my self, if "let" should be allowed as a variable name at all (maybe there is a list of reserved words). If this is the case, those reserved words shou

[2017-06-04 02:36] joshsharp commented on #18
I had been thinking about a similar solution, actually! That'll work just fine. Sorry for the confusion on my end.

[2017-06-04 15:41] #18 closed

[2017-06-04 16:00] breml commented on #18
Merged the failure tracking based on the farthest parse failure into master and made the new behavior the default (no flag for the old behavior), as I am convinced, that the new behavior provides better (while some times verbose and not perfect) error messages. It is also my understanding, that the participants in this issue agree to this point of view.
@tsandall, @tmc, @joshsharp Thank you very m

[2017-06-06 20:51] #9 closed

[2017-06-06 20:54] breml commented on #9
@joshsharp in https://github.com/mna/pigeon/commit/2e7a3c8ae1181b4bd9dc1d4fb8433189758493b8 I implemented an example for exported errors (access parser errors from a different package) as well as a simple implementation for caret style error messages. All of this can be done within the users code and does not need any (breaking) changes to the existing pigeon API.

[2017-06-07 04:49] joshsharp commented on #9
Lovely, thanks very much.

[2017-06-20 05:14] Shixzie opened #27 "Remove -track-fail flag from usage text"
The usage text for the cli shows a _-track-fail_ flag that doesn't exists

[2017-06-20 06:09] #27 closed

[2017-07-24 03:48] vito opened #35 "ParseFile swallows parse errors"
[This line](https://github.com/mna/pigeon/blob/69502cc142182b8c90270fe2f152d983df11efcb/builder/static_code.go#L94) causes the err return value of `.parse()` below it to be overridden with the result of closing the file.

Not sure what the best fix would be. It could either ignore the result, or only set `err` if it's `nil` to begin with, or return both errors glued together but that seems a bit o

[2017-07-24 10:25] #35 closed

[2017-07-24 10:26] breml commented on #35
@vito Thanks for the bug report, fixed it by only returning the close error, if it is not nil.

[2017-08-31 23:30] jasontbradshaw opened #38 "Syntax Highlighting in Vim"
I've created a syntax highlighting Vim plugin for `pigeon` grammar files, https://github.com/jasontbradshaw/pigeon.vim:

I thought it might be useful to point others to it, possibly by adding it to the README if anyone finds it interesting and/or useful.

If not, no worries! Just wanted to throw it out there.

Here's a sample of what it looks like in the `jellybeans` color scheme:

![screenshot-20

[2017-09-03 18:32] breml commented on #38
@jasontbradshaw Thank you very much for your work and the link. I added it to the [Pigeon Wiki](https://github.com/mna/pigeon/wiki) and updated the README.md to include a reference to the Wiki.

[2017-09-03 18:32] #38 closed

[2017-09-04 14:25] jasontbradshaw commented on #38
Thank you! I hope others find it as useful as I have.

[2017-09-04 20:45] breml commented on #5
This is by design, the right way to do this would be like this:

[code]

The above code is "pseudo" code and would not work directly, because all values are `interface{}` and it is therefore not possible to add them directly.

[2017-09-04 20:45] #5 closed

[2017-09-08 16:14] breml opened #40 "Proposal on How to Maintain the State of the Parser in Pigeon"
# Current Situation

## State within the Parser

Originally the state of the parser mainly consisted of the current position of the cursor within the parsed data. Additionally, a list of errors, which occurred during the parsing, is kept by the parser, which could be seen as state as well.

With the addition of the GlobalStore feature (`current.globalStore`), a central place to maintain arbitrary

[2017-09-08 18:45] RedSkotina commented on #40
About memoization: https://github.com/mna/pigeon/issues/14

[2017-09-17 12:38] breml commented on #40
@RedSkotina Thanks for the hint about memoization. As I understand your example in https://github.com/mna/pigeon/pull/15/files#diff-2e565dcb9f8c9aacb131b983e5f5b85dR25, the problem is, that the memoization is not aware of the additional variables (`data` and `idx`), which in a way also belong to the current state of the parser. With the proposed extension of the parser, the global state must be me

[2017-09-18 20:05] jlozano commented on #40
@breml apologies for the delay in reviewing this! I have a couple of questions:

## State Change Expression

How do we enforce this? Do we always revert the state after these expressions, regardless if the parsing rule failed or not? e.g consider the following scenario:
[code]
and we parse the input `a`.
Would the parser panic (since `c.state["a"]` is only initialized to an int in the `isA` rule)?

[2017-09-20 20:45] breml commented on #40
@jlozano Thanks for your reply.

# State Change Expression

The short answer is: Yes, we would revert the state after those expressions regardless of the result.
With this proposal implemented, the proper way to formulate the grammar would be:

[code]
With this, the state change expression only gets executed, if the AndCodeExpression is successful.

# Open Questions

My was not thinking about addi

[2017-09-20 23:43] jlozano commented on #40
@breml

State change expression -- got it, makes sense.

Got it, I agree, I think that this makes sense.

Ahh gotcha, interesting, what do we do for `&{}` and `!{}` expressions?

[2017-09-21 19:52] breml commented on #40
The current behavior is, that if `&{}` or `!{}` expressions do return an error (but do not fail the parsing, that is, `&{}` returns `true`), the error is added to the list of errors. If the parser later fails, those errors are not removed from the list. Or with other words, with the current implementation, if an error is added to the list, it stays there regardless of if the parsing is successful,

[2017-10-07 08:54] breml commented on #17
@RedSkotina I think, this was fixed with #42. Do you agree?

[2017-10-08 20:01] breml commented on #40
Initial implementation in #43.

[2017-10-10 17:14] mna opened #44 "Feature proposal: alternate entrypoints"
Hello,

At the moment, pigeon hard-codes the entrypoint (starting rule) of the generated parsers - the first rule in the grammar serves as the entrypoint. One area where this constraint is particularly painful is for tests: imagine for example that you want to test in isolation a specific area of the grammar (e.g. string literals, numbers, etc.). Currently you're left with a few less-than-ideal so

[2017-10-10 20:54] breml commented on #44
@mna I am glad to see you working on pigeon. I really like your proposal and think it is very valuable.

I will give it some more thoughts in the next days and provide a more detailed feedback.

In meantime, do you mind to submit this change as a PR, because it allows to comment directly inside the code. (Maybe you first rebase your code on current master.)

[2017-10-10 21:04] mna commented on #44
Hey Lucas, thanks, yeah it's nice to start using it again. You've done a great job with the optimization options by the way. I haven't followed enough the parser state development to give an educated opinion on it though.

I was gonna submit a PR, but I wanted to discuss it first in an issue to gauge interest (and to follow my own guidelines in the contributions file! :) I'll create the PR later t

[2017-10-11 19:21] breml commented on #44
Thanks for the compliment, the optimization of the pigeon parser was a joyful work to do.
I left some minor comments on the PR. In general this already looks very good in my opinion.

[2017-10-14 05:38] breml commented on #44
Implemented with #45.

[2017-10-14 05:38] #44 closed

[2017-10-14 13:33] breml commented on #17
Close as resolved.

[2017-10-14 13:33] #17 closed

[2017-10-14 13:36] #7 closed

[2017-10-14 13:36] #40 closed

[2017-10-30 07:33] breml opened #50 "`go get github.com/mna/pigeon/...` is failing"
`go get github.com/mna/pigeon/...` is failing with the following error message (go 1.9):

[code]

[2017-10-30 07:37] breml commented on #50
`go get github.com/mna/pigeon/...` to an empty `$GOPATH` creates a whole list of binary files due to the setup of the tests (they are defined as package main with a function main).

This does not make sense.

[code]

[2017-10-30 13:50] mna opened #51 "Backtrack-aware state does not restore correctly"
Hello,

As I understand it, the backtrack-aware state store (`current.state`) should follow the parser's backtracking and by the end of the parsing, it should only hold the data written in state code blocks of valid matches (`#{ ... }`).

However, currently pigeon will only restore the state in a handful of cases:
* After an Action code block
* After an And or Not predicate code block
* After a Ch

[2017-10-30 21:06] breml commented on #51
@mna Thanks for your bug report and the PR.

I agree, there is a problem with the current implementation of the backtracking of the state store, which is clearly demonstrated by your example code in https://github.com/mna/pigeonstatebug.

Find my detailed comments in the PR.

[2017-10-31 07:23] breml opened #54 "Branch wip-vm"
@mna There is an stale branch `wip-vm` and I am wondering, what this is all about and if it would be useful to reactivate the work on this branch again. What is your opinion on this? Do you mind to give some insights?

[2017-10-31 12:01] mna commented on #54
That was an experimental implementation to avoid stack overflows when parsing (probably pathological) inputs with a lot of recursion. I'm not sure if the implementation was complete (at the time - it is of course not today). With the grammar optimization this is even less necessary now than it was then, but still, the possibility of running into a stack overflow was bothering me (no tail call opti

[2017-11-02 10:32] #50 closed

[2017-11-02 10:35] breml opened #55 "Document incompatibility of global state with memoization"
Update documentation to reflect the incompatibility of global state with memoization.

see https://github.com/mna/pigeon/pull/52#issuecomment-340592275

[2017-11-05 21:43] breml opened #59 "Document global state handling in combination with recover/throw"
As mentioned in https://github.com/mna/pigeon/pull/52#issuecomment-342007774, the documentation should reflect the fact, that if global state is used in grammars with recover/throw, it is the responsibility of the author/grammar to set the global state back to a valid state in the case of a recovery.

[2017-11-06 21:51] breml commented on #55
Additionally to the updated documentation in `doc.go`, a warning could be raised by pigeon if a grammar with global state is used with memoization enabled or the memoization feature could be replaced with a no-op to prevent the usage of global state with memoization.

[2017-11-07 20:04] #59 closed

[2017-11-07 23:31] #51 closed

[2017-12-31 02:54] felipellrocha opened #61 "How to pass in data into parser"
In `peg.js` I'm able to pass data into the parser via an `options` variable. Is there an example of how I could do the same here?

[2017-12-31 13:52] breml commented on #61
@felipellrocha Thanks for your question. Have a look at the [GlobalStore](https://godoc.org/github.com/mna/pigeon/test/predicates#GlobalStore) function, which can be used to pass arbitrary data to the global store of the parser. See also the respective section in [godoc](https://godoc.org/github.com/mna/pigeon#hdr-Code_block) or [this test](https://github.com/mna/pigeon/blob/master/test/global_sto

[2017-12-31 13:52] #61 closed

[2018-01-01 04:21] felipellrocha commented on #61
This example confuses me a little bit... How do I pass multiple options? Also... Option is a function that returns other Options?

[2018-01-01 09:33] breml commented on #61
@felipellrocha The function [Parse](https://godoc.org/github.com/mna/pigeon/test/predicates#Parse) (and its variants `ParseFile` and `ParseReader`) accept a variadic list of options as aguments. This means, that you can parse the above mentioned `GlobalStore` function multiple times to set multiple values in the global store.
The type `Option` is a function, which returns the previous setting as a

[2018-01-04 18:10] felipellrocha opened #62 "Add type safety"
Dealing with interfaces can be quite burdensome. Why not add type safety to the project?

[2018-01-04 19:36] breml commented on #62
@felipellrocha we are aware of the fact, that dealing with the `interface{}` everywhere is not funny and therefore, having static typing is on the wishlist. Feel free to move forward with this and write an initial PR.

That being said, I am not yet sure, what the best way to implement this would be.

[2018-04-11 07:16] mwhooker opened #63 "Choice expression limit"
Hi all,

Apologies, I haven't tracked down this issue exactly. I have a choice expression with about 35 choices. The parser is able to match up to *about* the 24th choice, but doesn't match anything further. See the example code below.

On this line `    in += "<F7><bS><HOMEOn><insert><rightsuper>"`, note that `<insert>` is matched correctly, whereas `<rightsuper>` is not. The choice expression in

[2018-04-11 18:05] breml commented on #63
@mwhooker Nothing wrong with pigeon in this case, you have just to reorder your alternatives in the choice like this (`"right"i` and `"left"i` have to come after all the alternatives which also start with right or left):

[code]

The reason for this is, that the alternative `"right"i` already mached in all the cases which start with `right` and therefore the other choices like `"rightSuper"i` did

[2018-04-11 18:05] #63 closed

[2018-04-11 18:11] mwhooker commented on #63
d'oh. of course, that makes so much sense. thanks for taking the time to explain!

[2018-05-04 17:25] mna opened #65 "Build failure only when --optimize-grammar is set"
Hello,

When building a particular grammar generated with `--optimize-grammar`, it may result in build failures. The same grammar builds correctly when this option is not set. I know this flag is documented as "experimental", but still, this is probably fixable.

I have tried to reduce the grammar to the minimum required to reproduce the issue, and the result is in the github repo https://github.c

[2018-05-13 18:29] #65 closed

[2018-07-12 03:15] F4ncyMooN opened #69 "[Feature Request] Add Expression name to wanted when parsing error occured"
When I use pigeon, parsing error information is very important to me.

Metric "METRIC" = left:ValidString+ "::" right:ValidString+ {
    // some code...
    return metric, nil
}

ValidString = ':'? [a-zA-Z0-9_.-]+ {
    return string(c.text), nil
}

For my use case, when I type something not correct, I want to get the expression name "METRIC". And then I will give a metric list to user. The metric

[2018-07-12 20:02] breml commented on #69
@F4ncyMooN Thanks for your feature request. At the moment I feel like all the necessary possibilities to achieve your goal are already present in pigeon grammar.

Have you read the section about error reporting on [godoc](https://godoc.org/github.com/mna/pigeon#hdr-Error_reporting)? Additionally there is also the concept of *labeled failures*, which is described in the [documentation](https://godo

[2018-07-17 20:51] breml opened #70 "Build failure only when --optimize-grammar is set; grammar with not referenced rule"
The following grammar results in build failure, if generated with `--optimize-grammar`. The same grammar builds with out problem, if the option is not set.

Minimal example:

[code]

Build error:

[code]

[2018-07-25 05:40] F4ncyMooN commented on #69
I tried the labeled failure, but it seems only error message could be customized. What I want is to customize the expected field in parserError.

For example,

[code]
When parse ValidString failed, pigeon will recover and throw an error with expected:[`":"`, `[a-zA-Z0-9_.-]`], digging into the code, only litMatcher' val field will be written in the expected area.  Maybe putting METRIC into the exp

[2018-07-28 03:58] d4l3k opened #72 "[Feature Request] Output rules used during parsing"
Sometimes with really large grammars (such as the wikitext/parsoid peg definitions) it's really hard to debug which rules are actually being used to output the final result. It'd be really nice if pigeon could return a tree of which rules are being used to generate the final result.

[2018-07-29 03:22] d4l3k opened #73 "cloneState/restoreState reuses state if no keys have been set"
This test fails since the same empty state is returned from cloneState multiple times.

[code]

[2018-07-29 05:47] breml commented on #73
@d4l3k thanks for the issues and the pr. I am currently on vacation and I will have a look when I am back.

[2018-07-29 05:49] breml commented on #69
@F4ncyMooN I am currently on vacation. I will have a look when I am back.

[2018-07-29 14:45] d4l3k commented on #73
Do you know when that'll be? Hope you're having a good vacation!

On Sun, Jul 29, 2018, 00:47 Lucas Bremgartner <notifications@github.com>
wrote:

[2018-07-29 20:32] breml commented on #73
I am away for an other week.

[2018-08-06 20:56] breml commented on #73
@d4l3k Now I am back from my vacation and I looked at this issue as well as your PR #74.
I understand the change you are proposing and also your test. Do you have an actual PEG grammar, that suffers from this particular problem? Do you mind to add a test case including such a PEG grammar, where to problem is shown when the generated parser is acutally used? I would prefer to have a test case, wher

[2018-08-06 21:28] breml commented on #72
@d4l3k I not yet understand, what particular functionality your are looking for. How is the tree you are requesting different (or related) to the output you get, if the `Debug` option is set for the parser?
Is your request only about the actions where Go code is executed? In your `debug.go` you only modify `actionExpr`, but you seem to ignore to other code expressions (like `AndCodeExpr`, `NotCode

[2018-08-07 17:14] d4l3k commented on #72
Yep, I was referring to printing the matches. There's another go PEG library which has a PrintSyntaxTree method which just prints each AST node's name and start/end.

https://github.com/pointlander/peg/blob/master/peg.peg.go#L292-L298

[2018-08-07 17:16] d4l3k commented on #73
I do have a PEG grammar that suffers from this problem which is how I found the bug.

https://github.com/d4l3k/wikigopher/blob/master/wikitext/wikitext.peg

It's pretty large though and seemed easier to write a unit test than create a stripped down version of it.

Formatting changes happened automatically sorry. I have gofmt set to run every time I save a file.

[2018-08-08 20:10] #73 closed

[2018-08-08 20:32] breml commented on #72
OK, I understand.

What would be needed for this?

* Introduce a new option for the parser to instruct it to output the matched rules / syntax tree, maybe allow to provide some configuration, e.g. what should be printed (rule name, start-end index, matched input / runes, name of the called Go function, etc.)
* Is output of this to stdout enough or do we need to provide other options, like acceptin

[2018-08-08 20:33] breml commented on #69
@F4ncyMooN Are you willing to provide a PR for this?

[2018-08-08 21:18] d4l3k commented on #72
I think adding in a similar AST struct output would make sense since you
have can't print it as you visit anyways. This supports custom printing as
well.

My implemention is much less than ideal, just was the easiest way to get
something workable. I'd be interested in putting together a PR.

[code]

A separate parse AST function could also be useful since some times a user
may only want the PEG as

[2018-11-20 06:40] tsandall opened #75 "Certain inputs take an extremely long time to parse"
Hello!

First of all, thank you very much for maintaining this project!

I'm hoping that someone can provide a bit of guidance. I apologize in advance for not having a minimal test case to reproduce this issue.

# The issue

I've been doing some fuzz testing on [OPA](https://github.com/open-policy-agent/opa) and I ran into one case where certain inputs would cause the program to hang and then cras

[2018-11-20 07:02] breml commented on #75
Thanks for the well written bug report.

The line in parser.go you are pointing to (https://github.com/open-policy-agent/opa/blob/master/ast/parser.go#L4362) is after the parsing of the input has finished and is building a map of all the possible expected values in the farthest parsing position until which the parser could advance. The purpose of this map is to easily remove duplicates from the li

[2018-12-15 22:01] dimus opened #76 "UTF-8 replacement character blocks code generation and runtime"
I am parsing biological scientific names detected in Biodiversity Heritage Library. Due to OCR errors quite many of them contain 'bad' characters that had been replaced by '�', so I need to add the character to a parsing rule.

However when I try to generate the Go code with ``pigeon``, the process stalls indefinitely. If I try to add the '�' to the rule in already generated code, the runtime exec

[2019-01-25 23:45] danielgtaylor opened #77 "No match found when it should match a later type"
Hello! I have built a (relatively simple) parser to provide a [shorthand syntax that expands to JSON or YAML for command-line utilities](https://github.com/danielgtaylor/openapi-cli-generator/tree/master/shorthand) using Pigeon. Keep in mind I've never made a parser before! :smile:

The PEG file essentially takes key/value pairs and turns them into a list of AST-like nodes. The [value can consist

[2019-01-26 15:32] mna commented on #77
Hello Daniel,

The problem is that `Float` *does* match, so your `foo: 1.2.3` input is parsed as `"foo": 1.2` and then it expects a comma (i.e. if there's another field-value pair coming after), whitespace, more digits or EOF, but finds the second dot. A similar issue would happen if you had `Int` before `Float` in your `Value` rule, it would parse this as an `Int` and would fail at the *first* do

[2019-01-28 07:31] danielgtaylor commented on #77
Thanks, this has been super useful! I wound up using the [lookahead](https://godoc.org/github.com/mna/pigeon#hdr-And_and_not_expressions) like you suggested:

[code]

I wrote a few new tests and everything is now passing. :+1:

[2019-01-28 07:31] #77 closed

[2019-02-27 10:44] cch123 opened #78 "[Feature Request] Operator Precedence Define"
[code]
The right recursion grammar will auto-generate right association

If pigeon can implement precedence climbing or something else, it will be very convenient ~

[2019-02-27 10:57] cch123 opened #79 "Should not allow left recursion grammar to pass conversion"
eg:
[code]

 go run main.go "1 and 1"

Will cause dead loop

[2019-02-28 19:20] breml commented on #78
This is not something that is planned to be implemented. See here for an example, how this can be achieved with the current implementation: https://github.com/mna/pigeon/blob/master/examples/calculator/calculator.peg

If you feel like implementing this, make an outline / design description first.

[2019-02-28 19:22] breml commented on #79
Not sure, how we could detect this in a reliable way.
@cch123 if you have an idea, feel free to share.

[2019-02-28 19:29] breml commented on #76
@dimus sorry for my slow response. have you tried to escape the U+FFFD char with '\xff' '\xfd'. See also https://github.com/mna/pigeon/blob/master/test/runeerror/runeerror_test.go

[2019-03-01 06:11] cch123 commented on #79
Maybe a simple idea is like detecting a cycle in a dag,
start from the rule root, push every **left** rule to its map, until every rule is traversed.
eg:
[code]
make a map to record every left rule:
[expr] -> add A
[expr A] -> add B
[expr A B] -> add Child of A 1 -> add Z
[expr A B Z] -> add Child of A 2 -> add C
[expr A B Z C] -> finish, there are no cycles

[code]
[expr] -> add A
[expr A] -> add

[2019-03-05 21:18] dimus commented on #76
@breml I guess your approach would work, thank you for your reply. In my case I found that pigeon, being more convenient, and easier to understand/use for a beginner Go programmer like me, did not provide enough parsing speed for my case. So I decided to move my [project](https://gitlab.com/gogna/gnparser) to [peg](https://github.com/pointlander/peg).

[2019-03-06 18:55] #76 closed

[2019-03-13 17:56] mkeeler opened #82 "Cut a new release"
Update: Looks like my problem was just running `go get -u github.com/mna/pigeon`. That brings up another request which is to cut a new release of pigeon so that users can pin to a specific version instead of master.

The peg file in test/thrownrecover does not appear to be valid. I was trying to implement similar error handling and it was failing. I then tried to run `pigeon thrownrecover.peg` wit

[2019-03-14 20:38] mkeeler commented on #82
Actually I think its just that I was using 1.0.0. Didn't realize it was 101 commits behind master.

[2019-03-16 14:04] breml commented on #82
Thanks for the update. I will think about it. I first have to check if there have been some (significant) breaking changes or if I can go for v1.1.0.

[2019-05-09 15:03] mna commented on #70
Hello Lucas,

I ran into the same issue and created this repo with what I had as minimal reproducible grammar (yours is smaller, though): https://github.com/mna/pigeon-bug-optimize-grammar-2. I tested it with your fix in the pending PR and it does work, is there any side-effect preventing the fix from being merged?

Thanks,
Martin

[2019-05-10 15:07] breml commented on #70
Hi @mna
If I remember correctly, the reason why I did not yet merge this PR is, that it only solves part of the problem. I had cases where the optimize still failed. That being said, we can merge this one and at least improve the situation, even though there are still failing (edge) cases.

[2019-05-10 17:31] mna commented on #70
Ah, yeah indeed I tried it on my full grammar and it does fail elsewhere with this fix. Might be worth holding up, as it might break grammars that are otherwise working today (for those that didn't run into the issue that it solves). I'll try to find some time to investigate further next week.

Thanks,
Martin

[2019-05-17 19:54] breml commented on #70
I found the old commit and my notes about the bigger problem I found when I wrote the PR #71.

The thing is, that the added search algorithm in `ast_optimize.go` is not able to find unnecessary rules, if these rules do form a cycle, but the entire rules cycle is no longer reachable from one of the entry points.
Such cycles can be produced by the grammar optimizer. I found such a case in the [go-th

[2019-05-20 15:14] breml commented on #70
Optimizer also needs to detect that rules can be dropped, if they are only referred to by itself (closed cycles), see [comment](https://github.com/mna/pigeon/issues/70#issuecomment-493579442).

[2019-05-21 17:23] xcoulon opened #84 "Unable to generate optimized grammar"
Hello,

First, thanks a lot for maintaining this project, it's a great library! I'm currently using it in https://github.com/bytesparadise/libasciidoc and it's working really well 🙌

However, since https://github.com/mna/pigeon/commit/9fec3898cef80afe60fbe5df398fceca513566b8 was merged, I've been getting the following error when running the command below in the project's root:
[code]

The grammar

[2019-05-21 18:06] mna commented on #84
Hello Xavier,

I'll take a look later today. @breml interestingly, it panics on https://github.com/mna/pigeon/blob/master/ast/ast_optimize.go#L243 where you had left a TODO comment to check for missing references, looks like that's what happens.

Martin

[2019-05-21 19:33] xcoulon commented on #84
Thanks for your response, @mna! And yes, I've seen the `TODO` above the line that caused the panic, but I have no idea how to fix it, sadly :(

[2019-05-21 21:12] mna commented on #84
Took a quick look, it turns out the grammar has the same rule defined twice (`FrontMatter`), with a reference to a missing rule (`YamlFrontMatter`). See here: https://github.com/bytesparadise/libasciidoc/blob/master/pkg/parser/asciidoc-grammar.peg#L88-L90

I tried removing the first definition (with the invalid reference) and it builds correctly.

I'll leave the issue open, though, in case Lucas w

[2019-05-22 06:35] xcoulon commented on #84
Thank you so much, @mna 🙌 It actually works much better now, after renaming the rule on line 90 to `YamlFrontMatter`. And yes, I agree with you: better error reporting would be very helpful in this case 🙂

[2019-06-05 13:25] Jay54520 opened #85 "How to achieve quantity {n} in regular expression?"
I found that there are only `? * +` in `grammar/pigeon.peg.SuffixedExpr`, how to achieve quantity {n}?

Now I use `?` to achieve, is there a better way? Such as using `\d\d\d\d?\d?`to achieve `\d{3,5}`.

The exact count: {5}
`\d{5} denotes exactly 5 digits, the same as \d\d\d\d\d.`

The example below looks for a 5-digit number:

`alert( "I'm 12345 years old".match(/\d{5}/) ); //  "12345"`
We can a

[2019-06-06 18:59] breml commented on #85
@Jay54520 The short answer is: No, there is currently no support for quantity the way it is supported e.g. in regular expressions of Javascript or also Go.

Such quantifiers (`{from, until}`) are not part of the specification of PEG. Maybe there is a way to mimic this behavior with `&{ ... }` blocks, but I am not sure about this nor did I try.

[2019-06-06 19:01] breml commented on #85
See https://godoc.org/github.com/mna/pigeon#hdr-Code_block for an example how to cound occurances.

[2019-06-07 05:54] #85 closed

[2019-07-02 16:35] rafaeljusto opened #87 "Unicode character class match"
Hi, I'm probably doing something wrong, but couldn't find any reference in the docs. I've added a rule to match any [Unicode character class](https://golang.org/pkg/regexp/syntax/), digits or hyphens:

[code]

But when running `pigeon -o example.peg.go example.peg` I got the error:

[code]

If I try to escape the regex (adding an extra slash) it does compile, but the resulted file doesn't generate

[2019-07-02 19:13] breml commented on #87
I am not at my computer right now, so I can not test, but have you tried just `[\pL\d_-]+`?

[2019-07-03 08:02] rafaeljusto commented on #87
Thanks for the fast response! I just tried `[\pL\d_-]+` and it also gives the same error message:
[code]

I will try to dig into the `pigeon.peg` to figure out where is the issue. 👍

[2019-07-03 08:05] mna commented on #87
Hey! Character classes are not regular expressions, so ˋ\d` is not a valid
escape. You can use 0-9 or `\pN` depending on what you want to allow.

Hope this helps,
Martin

On Wed, Jul 3, 2019 at 10:02 Rafael Dantas Justo <notifications@github.com>
wrote:

[2019-07-03 08:19] rafaeljusto commented on #87
@mna That solved the issue! I suspected of the `\p{L}`, and never thought that the issue could be the `\d`. Nice one! Thanks a million 😄

[2019-07-03 08:19] #87 closed

[2019-08-17 07:17] yevgenypats opened #89 "Suggestion: Continuous Fuzzing"
Hi, I'm Yevgeny Pats Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- [go-fuzz](https://github.com/dvyukov/go-fuzz) fuzzers (This is generic step not-connected to fuzzit)
- Continuous Fuzzing of master branch which will generate new corp

[2019-08-19 18:51] breml commented on #89
@yevgenypats Thanks for your suggestion. It sounds interesting to me and I have thought about this in the past as well. The _problem_ I see is, that pigeon is a parser generator, so you do not know in advance, what the generated parsers will be used for. So I am not sure, how you would approach that.

That being said, I am open for this and I would appreciate if you could provide a draft for such

[2019-09-02 20:18] philandstuff opened #91 "Latest pigeon fails to parse examples/indentation/indentation.peg"
I ran:

[code]

and I got the output:

[code]

This is surprising, because I expect the examples provided with pigeon to parse correctly with pigeon.

(Context: I was trying to use the `#{}` state-change block syntax, and I couldn't get it to work, so I thought I'd look at one of the examples that use it; only the example didn't work either.  This may or may not be related to the failure to parse

[2019-09-02 20:25] breml commented on #91
@philandstuff Just to understand your test setup better, did you have an older version of the pigeon in the `$GOPATH` before you ran `go get -u github.com/mna/pigeon` (I am asking because you are providing the `-u` flag)?

Can you test, if you run `make clean && make`. This gives you the latest version of `pigeon` in the `bin/` directory.

[2019-09-02 20:26] breml commented on #89
@yevgenypats are you still looking into this?

[2019-09-02 20:32] yevgenypats commented on #89
@breml sorry for dropping the ball on this. looks like it slipped from my excel of things to do. I gave it a quick look now and essentially the first thing would be to choose the first function that would make sense to fuzz. is `ParseReader` a good candidate? or maybe you can suggest other function that get bytes or string array. we are not necessary need to know in advance what would be the outco

[2019-09-02 20:32] philandstuff commented on #91
Urgh, I got bitten by go modules.  Running the `go get -u ...` command from outside a module directory worked better, and now it parses as expected.

Sorry for the noise.

[2019-09-02 20:32] #91 closed

[2019-09-02 21:08] breml commented on #89
@yevgenypats Yes, `ParseReader` would be a good candidate. The question is, which parser we want to use for the tests, because due to the nature of `pigeon` being a parser generator, not all parsers use the full set of functionalities. Maybe we start with a simple case like `examples/json`, which has the advantage, that the result can easily be verified by using `encoding/json` with the same input

[2019-09-04 11:32] yevgenypats commented on #89
ccing @bookmoons who will take the lead on that.

[2019-09-05 03:33] bookmoons commented on #89
Hi @breml. Will be digging into this soon.

I remember pest has some fuzzing. They're a similar project, they handle PEG grammars. I'm going to have a look at their approach. Maybe it can be duplicated.

https://github.com/pest-parser/pest/blob/master/FUZZING.md

[2019-09-05 03:35] bookmoons commented on #89
And thanks for the really good suggestions here. Will apply them to the fuzzers.

[2019-09-06 04:52] bookmoons commented on #89
It seems like pest is fuzzing the generator and couple generated parsers, JSON and TOML. One target each.

[2019-09-06 04:54] bookmoons commented on #89
There's a functional fuzz target for the JSON parser. It validates against the `encoding/json` result.

https://github.com/mna/pigeon/compare/f3db42a662eded7550fc7cd11605d05311dfa30f...bookmoons:debb9439b57c77ebbe9c128ec6efa6ca23f0b311

It runs with:
[code]

In a local run it found that pigeon parses the input `0`, but `encoding/json` returns an error.

[2019-09-06 04:56] bookmoons commented on #89
If you'd like to get the other parsers fuzzed I can run through them. Some guidance about how to access them as a library would be helpful. go-fuzz can't get at a `main` package. I see in the docs there's some setup needed, but I'm not sure which pieces exactly.

[2019-09-06 16:01] breml commented on #89
@bookmoons Thanks for your first results. In regards to the error your code found, I think the problem is not in the parser or in `encoding/json` but in your fuzzing code. [Line 13](https://github.com/mna/pigeon/compare/f3db42a662eded7550fc7cd11605d05311dfa30f...bookmoons:debb9439b57c77ebbe9c128ec6efa6ca23f0b311#diff-bac6a9ef1ac52e565ed5a26fab2a7b0cR13) needs to read `expectedErr := json.Unmarshal

[2019-09-06 16:05] breml commented on #89
With this change in place, go-fuzz found two other crashers `00` and UTF-8 invalid rune. I will have a look on these.

[2019-09-06 19:00] breml commented on #89
@bookmoons I looked into the three issues mentioned above and detected by go-fuzz:

* input `00` is a bug in the parser, fixed in #92
* the second problem with the invalid UTF-8 rune (`\xf0`) is related to the UTF-8 encoding, where the pigeon based parser and the json unmarshal from the stdlib do not behave the same way so it does not make to compare them directly. To mitigate this, to following c

[2019-09-07 01:37] bookmoons commented on #89
Nice, thanks a lot @breml. Made the updates.

https://github.com/mna/pigeon/compare/d6c23edb9fec1174b5fcc078bc63271930d47473...bookmoons:6c45dc536aaa7d992eafa5b796595800bcf677d2

For the invalid encoding error I returned the ignore signal `-1`, to stop it exploring that branch any further.

I wonder if it makes sense to have 2 targets here. The current one that validates against the stdlib result.

[2019-09-07 05:33] breml commented on #89
@bookmoons Yes, this sounds reasonable. The second target, which just runs pigeon decoding and detects crashes, could be quite generic, such that it can be used with any parser, that has been generated with pigeon. As a final step (after we have gained some experience), we could even consider to generate such a generic fuzzing target with pigeon automatically (I think I would add a flag to pigeon

[2019-09-07 05:39] breml commented on #89
@bookmoons In regards to the updated fuzzer, the situations, where it detects differences because of UTF-16 encoded runes is still open and will still lead to crashes, which are kind of false positives. Do you have a suggestion for this case as well?

[2019-09-07 05:42] breml commented on #89
@bookmoons And one more idea, because pigeon supports different levels of optimizations (parser optimization, grammar optimization), one thing we could do is to compare the results of the differently optimized parser against each other, because if the fuzzer finds a difference there, it is most certainly a bug.

[2019-09-07 07:34] breml commented on #89
The fuzzer also found the already known bug, that the pigeon based json decoder fails on escaped forward slashes in string values (see: https://github.com/mna/pigeon/blob/f838cbe38d8094542d814c3e1f2b8d462a4dfe01/examples/json/json.peg#L65). I created a fix and a test case for this in #93 .

[2019-09-07 08:32] bookmoons commented on #89
Added a simple JSON fuzzer that just runs the parser on fuzz. Panics will signal bugs.

https://github.com/mna/pigeon/compare/d6c23edb9fec1174b5fcc078bc63271930d47473...bookmoons:8bc3f5c099dd55dc33e153bedae1c38cf53f12be

You can target the build with `-func`.

[code]

[code]

This would be a really nice setup.

[2019-09-07 08:32] bookmoons commented on #89
Here's an example of a recent integration:
https://github.com/tsenart/vegeta/pull/432

Typical Fuzzit setup uses a `fuzzit.sh` script and some lines in the Travis config file. There's the script for vegeta:
https://github.com/bookmoons/vegeta/blob/13242e1d4e37fefc2776ce7bc5dced26a1191656/fuzzit.sh

The setup has 2 stages in CI, fuzz regression and the main fuzz stage. Fuzz regression pulls past cr

[2019-09-07 08:33] bookmoons commented on #89
I wonder if it's possible to detect a UTF-16 byte string and just exclude them from fuzzing. What do you think? Seems like they're using the `unicode/utf16` package. Maybe their detection can be duplicated.

https://golang.org/src/encoding/json/decode.go

[2019-09-07 08:33] bookmoons commented on #89
This is a really good idea. go-fuzz recommends doing this to find consistency bugs. I vote yes.

In another integration I generated a parser at fuzz time in CI, in that fuzzit script. Maybe the same thing could be done here. Fuzzing of a parser could look like:
* Generate all optimized/unoptimized variants.
* Simple fuzz of each individually.
* Single consistency fuzz of all.

[2019-09-15 05:35] bookmoons commented on #89
Tried to add some rough exclusion of the UTF-16 surrogates in https://github.com/mna/pigeon/compare/d6c23edb9fec1174b5fcc078bc63271930d47473...bookmoons:78b0c6311f0ef0ac8d60d6c12c93f0f6566adb1c.

I see it's tough to do because they only happen in JSON strings. This catches them everywhere. Maybe it's enough for a start.

There must be a regex that would catch them only in strings, but I'm not sure

[2019-09-15 06:08] bookmoons commented on #89
https://github.com/mna/pigeon/compare/d6c23edb9fec1174b5fcc078bc63271930d47473...bookmoons:7a867c4fe1a3b19b394e85c46df585d40e6c0855 tries your idea of fuzzing optimized parsers. All the fuzzers seem to be run. It seems like a good setup.

[code]

[2019-09-16 20:10] breml commented on #89
@bookmoons thanks for the update. This looks promising and I will have a detailed look at this. I have some pretty packed days in front of me and afterwards I am off for vacation. So unfortunately, this needs to wait.
You thing, that I already spotted is the `regex.Match` for the UTF-16. I suggest to create a global variable (actually it is more like a constant) for the regex matcher, which is bet

[2019-09-17 02:12] bookmoons commented on #89
https://github.com/mna/pigeon/compare/d6c23edb9fec1174b5fcc078bc63271930d47473...bookmoons:fe0e983d2759e5613d77c8495f079ac1cd6f4dff updates that.

[2020-02-21 13:58] philandstuff opened #94 "Proposed optimization for parseLitMatcher"
Hi there,

I use pigeon for philandstuff/dhall-golang and I started doing some profiling since I noticed that some expressions were quite slow to parse.

After running a profiler, I noticed that a lot of time was being spent in `parseLitMatcher`, and in particular in `strconv.AppendQuote`.  I manually hacked my generated parser to cache the AppendQuote result on the litMatcher struct:

[code]

Thi

[2020-02-24 15:33] breml commented on #94
@philandstuff Thanks for your analysis and the PR. I will have a look at this.

[2020-02-24 19:22] #94 closed

[2020-05-09 07:49] notdodo opened #96 "unable to parse curly braces"
Hi!

I think that the grammar is not handling correctly curly brackets.
I created a basic example:

[code]
compile it with `pigeon` and test it with:

[code]
running the test I get this stacktrace:

<details>
[code]
</details>

Just removing the curly brackets in `m` the test pass.

[2020-05-11 21:05] breml commented on #96
@notdodo I tried to reproduce the problem you are describing, but I failed. The test executed just fine, that is, there was no stack exceed panic.

Can you please provide some more details about your setup, in particular:

* Version of Pigeon (please try current master)
* Flags provided while compiling the parser with pigeon
* Version of Go

[2020-05-12 06:18] notdodo commented on #96
Hi!

- Pigeon is up-to-date with master
- `pigeon -o mypegtest.go mypegtest.peg`
- `go version go1.14.2 linux/amd64`

[2020-05-18 19:58] breml commented on #96
@notdodo I tried again to reproduce your problem, but I am not able to get the error you mentioned in this issue. I pushed the test code (taken from this issue) to https://github.com/breml/pigeon/tree/issue-96.

I also used latest pigeon (18953b27) and I am also using `go version go1.14.2 linux/amd64`.

Can you please try the branch mentioned above and execute `make clean && make all && make test`

[2020-05-19 06:14] notdodo commented on #96
Hi @breml

I've tried your test with the latest pigeon and actually the test pass (all tests)...
I thought to have the latest version of pigeon but I'm dumb!
Sorry for the trouble :(

[2020-05-19 12:16] breml commented on #96
@notdodo No worries.

[2020-05-19 12:17] #96 closed

[2020-06-10 09:55] ribasushi commented on #82
Ran into this very same problem trying to compile https://github.com/mna/pigeon/blob/master/examples/indentation/indentation.peg

[2020-07-27 20:16] kpixley opened #97 "Debugging?"
Is there a description or a walkthrough of the output of the Debug() option anywhere?

I'm going crazy trying to understand what this thing is doing.  I really miss the shift/reduce tables from yacc.  They were tedious but the inevitably led to the problem.  With pigeon, I'm doing a lot of guessing and a very large number of fmt.Fprintf's trying to guess and weed out possibilities for where the pr

[2020-07-28 18:24] kpixley opened #98 "Wish error output format were recognized by emacs compilation-mode & next-error"
Some seem to be but others aren't.  I haven't figured out the pattern nor how to fix it.

These are the errors from the generated parser, btw.

[2020-07-28 18:27] kpixley opened #99 "errors during compilation of grammar.go are reported as grammar.go rather than grammar.peg"
This is a nuisance when used, eg, with emacs compilation mode.

lex/yacc/byacc/bison/et all use line number preprocessor lines in the generated output to refer back to the original source file even when it's the C compiler that is reporting the error.  I don't know how to do that in go but I presume that it must be possible.  If not, it should be.

[2020-07-31 10:49] breml commented on #97
@kpixley Sorry for my slow response, I was offline the last few days.
I am not familiar with the shift/reduce tables from yacc, so I am not really sure, what exactly you are looking for.

If the `Debug(true)` option is set, the parser prints each step of the parsing. This output is very verbose and I find it only rarely useful.
On each line you find the following information:

* the indentation sh

[2020-07-31 10:56] breml commented on #98
@kpixley can you please provide some more details what exactly you are expecting as well as the errors you get from the generated parser. Otherwise I will not be able to support you on this.

[2020-07-31 11:04] breml commented on #99
This is by design. Pigeon does not care about the Go code in the PEG file but only about the PEG grammar. Go does not know anything about PEG and therefore can not report an other position for the error than in the generated `grammar.go` file.

If you have a lot of Go code used by the parser, it does make sense to move this code as functions into a separate .go file. Have a look at https://github.

[2020-07-31 11:06] breml commented on #99
That being said, Go does not have a preprocessor so there are no preporcessor lines that could point back to the original source file.

[2020-07-31 14:55] kpixley commented on #97
I seem to be having trouble reading that output.

The ostensible input character stays the same for long periods of time then jumps and I don't understand why.

The MATCH lines are confusing in that they show me neither c.text that has been matched nor what rule was involved.  Or maybe I just don't understand what it is showing me.

And the function entry/exits don't tell me what rule is being con

[2020-07-31 15:07] kpixley commented on #98
It appears as though there are two factors involved here.

Emacs should parse the error lines as they are but a current Emacs bug prevents this.  It recognizes the error only when the column is a single digit.  I believe this has been reported but it's anyone's guess when a fix would be incorporated of released.

If the column is followed by a colon then a different emacs rule is used and the erro

[2020-07-31 15:09] kpixley commented on #99
Not quite true.

https://golang.org/src/cmd/compile/doc.go#L153

[2020-07-31 15:12] kpixley commented on #99
I will likely take a crack at this at some point.  I believe the task is relatively straightforward and superficial.  But anyone else who is up for it is welcome to beat me to it.

[2020-08-03 19:53] breml commented on #99
@kpixley Thanks for the hint on the //line compiler directive. I did not know about this. I started to look into adding this to pigeon. It is possible, but there are some challenges to solve, especially if there is some code (beside of the *package* directive) in the *init* section (like [here](https://github.com/mna/pigeon/blob/master/test/andnot/andnot.peg#L1:L12)). The problem is, that the corr

[2020-08-03 19:54] breml commented on #98
To me, this does not sound like a problem in pigeon, so I am in favor of closing this issue as won't fix. Please report back, if you do not agree. Otherwise I will close this issue.

[2020-08-03 20:15] breml commented on #97
Thanks for your long answer. I am not really sure, how I can support you or what exactly could be improved in pigeon.
On think that maybe could help you is to add state change code blocks in your grammar to print out details that could help you debug. E.g.

[code]

Again, I think for the problems you are facing, the `Debug(true)` option is not very helpful, so I would not recommend to use it. I th

[2020-08-03 20:24] kpixley commented on #97
I think this one has specific suggestions.  If you need me to copy them to a new ticket I can, although I don't see the point.

State change debug lines don't really help much.  I'm doing something similar now but without more info about what the parser is doing it's a lot of groping around in the dark.  I write at least 20-30 lies that are never executed and spend a lot of time wondering why befo

[2020-08-03 20:27] kpixley commented on #98
Reasonable, although there's a one character fix that works around the emacs bug.

I can post process my parsers for now.  It's a simple change.

It is a pigeon bug in the sense that it is not playing well with others and easily could.  But it's not worth any more time discussing.  Close if you prefer.

[2020-08-03 20:37] breml commented on #98
The thing about this one character change is, that it potentially breaks other peoples code, so I do not feel comfortable with changing this.

[2020-08-03 20:38] #98 closed

[2020-08-14 17:33] kpixley opened #100 "wrong pigeon gets installed?"
Sometimes when I install pigeon, I get the wrong version.  "pigeon -h" talks about goimports and the generated parser fails to compile with a number of standard libraries not found.

I don't understand why this happens nor how to force the newer pigeon.  Can you please point me?

[2020-08-14 19:19] kpixley commented on #100
I don't understand why, but this appears to be a symptom of installing the compiler in the obvious (private) location, ~/go.

If I install the compiler elsewhere, then I get the pigeon I'm expecting.

[2020-08-14 19:19] #100 closed

[2020-08-29 19:28] lolbinarycat opened #101 "Support annotating return types next to rules"
the proposed syntax would be:
[code]
where TYPES is anything that is a valid return type for a go function. e.g. `(string,error)`, `int16` or even nothing (like in `func main()`).

This return type would then be copied exactly to the generated code.

[2020-09-04 13:50] lolbinarycat commented on #101
@breml I originally planned to do just that and open a PR, but I've done a fair bit of work on various parsers, and I'm a bit tired of it for now. I may get back to it sometime though.

[2020-09-04 14:51] breml commented on #101
@lolbinarycat Never mind, I leave the issue open for now.

[2020-09-24 03:20] flowchartsman commented on #82
Running into this myself. Anyone running into this issue is encouraged to `go get github.com/mna/pigeon@18953b2` (or whatever the latest commit is) from inside of their module until a new release is cut.

[2020-09-24 03:21] flowchartsman commented on #91
This isn't exactly noise. It's the result of Go modules' version selection interacting with a v1 release that does not build example rules. Anyone running into this issue is encouraged to `go get github.com/mna/pigeon@18953b2` (or whatever the latest commit is) from inside of their module until a new release is cut.

[2020-10-09 05:45] flowchartsman commented on #82
v1.1.0 would be really great right now. I keep forgetting about this before I remember to check out from head, and if the examples don't build, we're in a bit of an inconsistent state.

[2020-12-31 09:48] yfwz100 commented on #82
Is there any updates?

[2021-05-18 21:10] flowchartsman commented on #82
For those following along, it looks as if we have a [new release now!](https://github.com/mna/pigeon/releases/tag/v1.1.0)

[2021-07-18 06:33] aamironline opened #102 "Help Required for developing expression evaluation parser!"
Hello,

Hope you are doing great! Thank you very much for developing such a wonderful library.

For one of our project (https://github.com/maniartech/x/), we are developing expression evaluator in Golang. We have used [expr](https://github.com/antonmedv/expr) library for now. But would like to replace with our own evaluator/parser. We do not want to write from the scratch. The pigeon seems to prov

[2021-07-18 10:58] breml commented on #102
Hi @aamironline

Thanks for your kind words. I am the current maintainer of pigeon and I am happy to provide you with some hints and links you might find helpful in your endeavor.

* Start by focusing on the parsing part and ignore the evaluation / processing part in the first step. In this regard, the calculator example is not the best / easiest, because it does combine the parsing and the evalua

[2021-07-18 14:44] aamironline commented on #102
Wow, what a detailed response! Thank you so much. I'll try your suggestions and provide my progress in this thread. Thanks again 👍🏻

[2022-02-01 23:45] delaneyj commented on #62
Does the generics now in 1.18beta1 help makes this more tractable?

[2022-02-02 17:25] breml commented on #62
Hi @delaneyj
Interesting question. I doubt, that generics alone do improve the situation. I assume, that an extension of the PEG grammar would be needed as well. But I have to admit, that I did not think about this at length.

[2022-04-08 17:31] aamironline opened #103 "Is this project still active?"
It looks like there is not much happening going on in this project. Is this project still active? What are the plans?

[2022-04-08 18:25] breml commented on #103
What is your definition of active? Currently there are no plans for extensions or new features.

[2022-04-08 18:26] #102 closed

[2022-04-08 18:26] #89 closed

[2022-04-08 18:27] #97 closed

[2022-04-08 18:29] #82 closed

[2022-04-08 18:29] #54 closed

[2022-04-08 18:31] breml commented on #101
Duplicate of #62

[2022-04-08 18:31] #101 closed

[2022-10-09 19:32] gaissmai opened #104 "trouble with \n and EOF"
HI, sorry but I know no other channel for pigeon. Please help me with a stupid problem. I stripped the grammar down as tiny as possible to hightlight my problem:

[code]
If I feed the parser with text without a newline at the end, I get an expected parsing error:
[code]
but if I modify the EOL rule to:
[code]
the parser is stuck in a recursive endless loop. With Debug and MaxExpression options i c

[2022-10-10 06:28] gaissmai commented on #104
solved, sorry for the line noise, see the `+` instead of `*` at the Line rule:

[code]